/*Card*/

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1b253b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: translateX filter 0.5s ease;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 45px;
  }

  .card.hovered .card-image {
    filter: grayscale(0%);
  }
  
  .card.hovered {
    filter: none;
    transform: translateX(-30px);
    transition: 0.3s ease;
  }

  .card-image {
    width: 100px;
    height: auto;
    margin: 10px;
    transition: filter 0.3s;
    filter: grayscale(80%);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  
  .card-button {
    margin: 0 5px 0 20px;
    padding: 8px 15px;
    width: 100px;
    text-align: center;
    background-color: #087061;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #0b8b78;
  }

  .card-button:active {
    transform: translateY(1px);
    background-color: #ff00de;
  }
  
  .card-buttons {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
  }
  
  .card-buttons.visible {
    bottom: 5px;
    opacity: 1;
  }



/*Modal*/

  .modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(148, 163, 184, 0.9);
    padding: 0 0 20px 0;
    max-width: 90%;
    max-height: 90%;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
    cursor: none;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 54, 58, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-close-button {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .modal-image {
    width: 100%;
  }

  .modal p {
    margin: 20px 20px 0 20px;
  }
  
  @media (max-width: 769px) {
    .modal {
      width: 90%;
    }

    .modal-image {
      display: none;
    }

    .card {
      width: 90%;
    }

    .card-content {
      margin-bottom: 50px;
    }

    .modal p {
      margin: 20px 40px 0px 20px;
    }
  }

